<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 1</title>
    <link href="../styles/styles.css" rel="stylesheet" type="text/css" media="all" />

    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/3373b9104a3ebb6e2d4b2788635ab354?family=IBM+Plex+Sans+SemiBold" rel="stylesheet" type="text/css" />

    <script src="https://use.fontawesome.com/0af95cebf2.js"></script>
</head>

<body>
    <header>
        <img src="../images/assets/logo.svg" alt="logo" class="logo" />
        <nav>
            <div class="menu">
                <input type="checkbox" id="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul>
                    <li><a href="#episodios">Episodios</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="#entrevistas">Entrevistas</a></li>
                    <li><a href="#topicos">Tópicos</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section id="conoceMas">

            <h1> <strong>   Hello <span class="tachado"> world </span> pale blue dot </strong> </h1>


            <div>
                <span class="contenido"></span>
            </div>

            <div class="fondoBtn">
                <p class="btnInput">CONOCÉ MÁS </p>
            </div>
        </section>

        <section id="episodios">
            <div class="contentEpisodios">
                <div class="skewContent">
                    <h3><strong> Episodios</strong></h3>

                    <div class="iframeEpisodios">
                        <iframe src="https://open.spotify.com/embed-podcast/show/2ySVrxGkN6n6frMTo9Nsrt" allow="encrypted-media"></iframe>
                        <iframe src="https://open.spotify.com/embed-podcast/show/4kYCRYJ3yK5DQbP5tbfZby" allow="encrypted-media"></iframe>
                        <iframe src="https://open.spotify.com/embed-podcast/show/0kEOMN2tVCGCiVMQ4dIRjg" allow="encrypted-media"></iframe>
                        <iframe src="https://open.spotify.com/embed-podcast/show/2Iibd5A6R7mxkCm4NwNmUn" allow="encrypted-media"></iframe>
                    </div>
                </div>
                <figure>
                    <img src="../images/assets/phone.png" class="imgTelefono" alt="imagen desde el Mobile">
                </figure>
            </div>
        </section>
        <section id="nosotros">
            <div>
                <h1 class="titulo-donde-v"> <strong> De dónde venimos </strong></h1>
                <br>
            </div>
            <div class="article-nosotros">
                <span class="contenido-donde-v-1"> </span>
                <br>
                <span class="contenido-donde-v-2"> </span>
            </div>
        </section>
        <section id="entrevistas">
            <div>
                <h1 class="titulo-entrevista"> Invitadas/os estelares </h1>
            </div>
            <div class="div-inline">
                <img src="../images/assets/grace-hopper.png" class="imgNosotros" alt="Grace Hopper">
                <img src="../images/assets/Katie-Bouman.png" class="imgNosotros" alt="Katie Bouman">
                <img src="../images/assets/Margaret_Hamilton.png" class="imgNosotros" alt="Margaret Hamilton">
            </div>
            <div class="div-inline">
                <img src="../images/assets/An_E.R.A.Univac_1103_computer_in_the_1950s.png" class="imgNosotros" alt="An E.R.A.Univac 1103 computer in the 1950s">
                <img src="../images/assets/Computer_operators_with_an_Eniac—the_world’sfirst_programmable_general-purpose_computer.png" class="imgNosotros" alt="Computer operators with an Eniac">
                <img src="../images/assets/susan-kare.png" class="imgNosotros" alt="Susan Kare">
            </div>
        </section>
        <section id="topicos">
            <div class="contenidoTituloTopicos">
                <h1 class=" titulo-topicos"> Algunos de nuestros temas </h1>
            </div>
            <div class="contenidoImgTemas">
                <div class="imgTemasContent">
                    <figure class="figureMobile">
                        <img src="../images/assets/icon1.svg" alt="Trabajo remoto">
                        <div class="temasMobile">
                            <p class="titulosTemas">Trabajo remoto </p>
                        </div>
                    </figure>
                </div>
                <div class="imgTemasContent">
                    <figure class="figureMobile">
                        <img src="../images/assets/icon2.svg" alt="Repensando la programación">
                        <div class="temasMobile">
                            <p class="titulosTemas">Repensando la programación</p>
                        </div>
                    </figure>
                </div>
                <div class="imgTemasContent">
                    <figure class="figureMobile">
                        <img src="../images/assets/icon3.svg" alt="Bases del código">
                        <div class="temasMobile">
                            <p class="titulosTemas">Bases del código</p>
                        </div>
                    </figure>
                </div>
                <div class="imgTemasContent">
                    <figure class="figureMobile">
                        <img src="../images/assets/icon4.svg" alt="Seguridad informática">
                        <div class="temasMobile">
                            <p class="titulosTemas">Seguridad informática</p>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="contenidoTemas">
                <div class="temas">
                    <p class="titulosTemas">Trabajo remoto </p>
                </div>
                <div class="temas">
                    <p class="titulosTemas">Repensando la programación</p>
                </div>
                <div class="temas">
                    <p class="titulosTemas">Bases del código</p>
                </div>
                <div class="temas">
                    <p class="titulosTemas">Seguridad informática</p>
                </div>
            </div>
        </section>
        <footer>
            <div class="contentFooter">
                <h3 class="tituloFooter">¿Querés las últimas novedades?</h3>
                <div class="fondoBtnFooter">
                    <p class="txtFooter">ESCUCHÁ LOS EPISODIOS</p>
                </div>
            </div>
            <div class="div-inline">
                <div class="textFooter article-footer contentMobile"> © 2019— Hello blue pale dot</div>
                <ul class="ulFooter">
                    <li>
                        <a href="https://www.spotify.com/co/" target="_blank">
                            <i class="iconFooter  fa fa-spotify"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/?hl=es-la" target="_blank">
                            <i class="iconFooter  fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=es" target="_blank">
                            <i class="iconFooter  fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <i class="iconFooter  fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://web.telegram.org/#/login" target="_blank">
                            <i class="iconFooter  fa fa-telegram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>
</body>

</html>

